<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font Awesome  -->
    <script src="https://kit.fontawesome.com/64db659394.js" crossorigin="anonymous"></script>

    <!-- jquery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Noty js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
        integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Noty css CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
        integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- layout common css -->
    <link rel="stylesheet" href="/css/layout.css">
    <!-- include partial styling -->
    <%- style %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <div id="layout-container">
        <section id="main-body-container">
            <%- include('_header') %>

                <main>
                    <%- body %>
                </main>
        </section>
    </div>
    <!-- Noty JS -->
    <%- script %>
        <script>
                    <% if (locals.flash.success && locals.flash.success.length > 0) { %>
                new Noty({
                    theme: 'relax',
                    type: 'success',
                    layout: 'topRight',
                    text: '<%= locals.flash.success %>',
                    timeout: 1500,
                    progressBar: true
                }).show();
                    <% } %>
        
                    <% if (locals.flash.error && locals.flash.error.length > 0) { %>
                new Noty({
                    theme: 'relax',
                    type: 'error',
                    layout: 'topRight',
                    text: '<%= locals.flash.error %>',
                    timeout: 1500,
                    progressBar: true
                }).show();
                    <% } %>
        </script>
</body>

</html>